body{
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
}
h1{
    font-weight: bold;
    color: goldenrod;
    margin-top: 10%;
    font-size: 500%;
}
p{
    font-weight: bold;
}
button{
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
    min-height: 30px;
    min-width: 250px;
    border: none;
    border-radius: 2px;
    color: #016f32;
    background-color: goldenrod;
    font-size: large;
    font-weight: bold;
}
button:hover{
    background-color: #daa532;
    color: black;
    border: 2px black solid;
}
.draw{
    display: none;
}